.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}   

.Card .Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
}

.Card .Header .Title {
    flex: 1;
    padding: 5px;
    font-size: 32px;
}

.Card .Content {
    padding-top: 50px;
    font-size: 22px;
    height: 80px;
}

.Card.Red .Header {
    color: #FFF;
    background-color: #f44336;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.Red .Content {
    color: #FFF;
    background-color: #f44336;
    border-radius: 0 0 15px 15px;   
}

.Card.Green .Header {
    color: #FFF;
    background-color: #2e7d32;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.Green .Content {
    color: #FFF;
    background-color: #2e7d32;
    border-radius: 0 0 15px 15px;   
}

.Card.Blue .Header {
    color: #FFF;
    background-color: #2196f3;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.Blue .Content {
    color: #FFF;
    background-color: #2196f3;
    border-radius: 0 0 15px 15px;   
}

.Card.Purple .Header {
    color: #FFF;
    background-color: #6d11aa;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.Purple .Content {
    color: #FFF;
    background-color: #6d11aa;
    border-radius: 0 0 15px 15px;   
}

.Card.Orange .Header {
    color: #FFF;
    background-color: #fd7200;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.Orange .Content {
    color: #FFF;
    background-color: #fd7200;
    border-radius: 0 0 15px 15px;   
}

.Card.newBlue .Header {
    color: #FFF;
    background-color: #373AAD;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.newBlue .Content {
    color: #FFF;
    background-color: #373AAD;
    ;
    border-radius: 0 0 15px 15px;   
}