.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 40px;

    -moz-transition: transform 0.8s ease;
    -webkit-transition: transform 0.8s ease;
    -o-transition: transform 0.8s ease;
    transition: transform 0.8s ease;
}   

.Card:hover {
    transform: scale(1.2);
}

.Card .Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}

.Card .Header .Title {
    flex: 1;
    padding: 10px;
    font-size: 22px;
    margin-top: 20px;
}

.Card .Content {
    padding-top: 40px;
    font-size: 18px;
    height: 90px;
}

.Card.red .Header {
    color: #FFF;
    background-color: #f44336;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.red .Content {
    color: #FFF;
    background-color: #f44336;
    border-radius: 0 0 15px 15px;   
}

.Card.green .Header {
    color: #FFF;
    background-color: #2e7d32;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.green .Content {
    color: #FFF;
    background-color: #2e7d32;
    border-radius: 0 0 15px 15px;   
}

.Card.blue .Header {
    color: #FFF;
    background-color: #2196f3;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.blue .Content {
    color: #FFF;
    background-color: #2196f3;
    border-radius: 0 0 15px 15px;   
}

.Card.purple .Header {
    color: #FFF;
    background-color: #6d11aa;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.purple .Content {
    color: #FFF;
    background-color: #6d11aa;
    border-radius: 0 0 15px 15px;   
}

.Card.orange .Header {
    color: #FFF;
    background-color: #fd7200;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.orange .Content {
    color: #FFF;
    background-color: #fd7200;
    border-radius: 0 0 15px 15px;   
}

.Card.newBlue .Header {
    color: #FFF;
    background-color: #373AAD;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.Card.newBlue .Content {
    color: #FFF;
    background-color: #373AAD;
    ;
    border-radius: 0 0 15px 15px;   
}